.form-contain {
    background-attachment: fixed;
    background-image: url('../Image/carpamontaña.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow-y: hidden;
    min-height: 100vh;
}

.display-block {
    display: block;
    margin-bottom: 4px;
    margin-top: 4px;
}

.btn-volver{
position: relative;
text-align: center;
top: 580px;
}

.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    margin: 15px;
    margin-right: 500px;
    margin-left: 500px;
    padding: 28px;
    padding-bottom: 30px;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 6px 7px 8px -6px rgba(69, 69, 69, 0.7);
    background-color: #0547649a;
}

.country-added{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    margin: 15px;
    margin-right: 500px;
    margin-left: 500px;
    padding: 28px;
    padding-bottom: 30px;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 6px 7px 8px -6px rgba(69, 69, 69, 0.7);
    background-color: rgba(255, 255, 255, 0.663);
}

/* .formulario{
        backdrop-filter: blur(14px);
        background-color: rgba(255, 255, 255, 0.535);
        box-shadow: 0 6px 17px rgba(70, 81, 11, 0.663);
        border-top: 0;
        border-left: 0;
        width: 300px;
        height: 30px;
        margin-bottom: 15px;
        border-top-left-radius: 9px;
        border-bottom-right-radius: 9px;
    } */

body{
text-align: center;
}

.crear-titulo{
    display: inline-block;
    position: relative;
    color:brown;
}

.crear-titulo::after,.crear-titulo::before{
content: '';
position: absolute;
width: 120px;
height: 3px;
background-color:brown;
top:0.6em;
}

.crear-titulo::before{
left:-140px;
}

.crear-titulo::after{
right: -140px;
}

.crear-sugerencia{
    text-align: center;
    font-size: 17px;
    position: relative;
    color:brown;
    top: -15px;
}

.btn-volver button {
    background-color:#da0101;
    box-shadow: 0 3px 12px rgba(255, 255, 255, 0.663);
    color: white;
    border-top: 0;
    border-left: 0;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    left: -500px;
}

.submit-button {
    background-color: #f83200ef;
    color: white;
    box-shadow: 0 3px 12px rgba(255, 255, 255, 0.663);
    padding: 15px;
    position: relative;
    top: 10px;
}