 .home-contain {
    background-attachment: fixed;
    background-image: url('../Image/ciudaddenoche.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow-y: hidden;
    min-height: 100vh;
} 

.titulo{
    font-size: 15px; /* tamaño */
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    left: 30px;
    color: blanchedalmond;
}

.centradoPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15px;
    left: 30px;
}

.form{
    border-radius: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40px;
    left: 470px;
    color: #d89024;
}

.estilo-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    gap:2rem;
    align-items: center; 
    grid-auto-rows:15rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    justify-items: center; 
    margin-top: 100px;
    margin-bottom: 100px;
}

.form-select {
    backdrop-filter: blur(14px);
    background-color:#d89024;
    box-shadow: 0 6px 17px rgba(70, 81, 11, 0.663);
    border-top: 0;
    border-left: 0;
    width: 160px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 3px;
    margin: 2px;
}

.clean-filters {
    background-color:#79736a;
    box-shadow: 0 3px 12px rgba(247, 247, 245, 0.663);
    color: white;
    border-top: 0;
    border-left: 0;
    width: 160px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.add-activity {
    background-color:#105519;
    box-shadow: 0 3px 12px rgba(77, 77, 73, 0.663);
    color: white;
    border-top: 0;
    border-left: 0;
    width: 160px;
    height: 30px;
    padding: 8px;
    border-radius: 3px;
    position: absolute;
    right: 50px;
    bottom: 5px;
}

.form-select {
    cursor: pointer;
}