.letra-paises{
    color: #d89024;
    padding: 8px;
    box-shadow: 0 3px 12px rgba(255, 255, 253, 0.663);
    font-size: 12px;
    margin-top: 8px;
}

.letra-paises h1, .letra-paises h2{
    text-shadow: 2px 2px black;
}

.image-size {
    height: 150px;
    max-height: 120px;
    box-sizing: border-box;
    width: 200px;
    object-fit: cover;
}