
.topnav{
    color: white;
    border-top: 0;
    border-left: 0;
    width: 160px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    position: absolute;
    left: 10px;
    top: 140px;
}

.topnav input {
    position: relative;
    display: inline;
    max-width: 95%;
    box-shadow: 0 2px 20px rgba(247, 247, 245, 0.663);
}

#search-button {
    position: absolute;
    margin-left: 3px;
}